<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>ATENDENTES</title>      
</head>
<body id="painel">
    <nav>
        <div class="menu">
            <div class="menu-item">
                <img src="/imagem/logoCash.png" alt="logo">
            </div>
            <div class="menu-item">
                <a href="/listar-clientes"><button class="btn"><i class="fas fa-home"></i><br>Dashboard</button></a>            
            </div>
            <div class="menu-item">
                <a href="/listar-pedidos"><button id="pedido" class="btn"><i class="fa-solid fa-cash-register"></i><br>Pedidos</button></a>
            </div>
            <div class="menu-item">
                <a href="/listar-delivery"><button id="pedido" class="btn"><i class="fa-solid fa-truck"></i><br>Delivery</button>  
            </div>
            <div class="menu-item">
                <a href="painel.html"><button class="btn"><i class="fa-solid fa-gears"></i><br>Painel</button></a>
            </div>
        </div> 
    </nav> 
    <section id="painel-principal">
        <div>
            <a href="/listar-clientes"><button class="btn-listas">Clientes</button></a> 
            <a href="/listar-atendentes"><button class="btn-listas">Atendentes</button></a> 
            <a href="/listar-motoboy"><button class="btn-listas">Motoboy</button></a> 
            <a href="/listar-produtos"><button class="btn-listas">Produtos</button></a> 
            <a href="/listar-taxas"><button class="btn-listas">Taxas</button></a> 
            <a href="/listar-categorias"><button class="btn-listas">Categorias</button></a> 
            <a href="/listar-pagamentos"><button class="btn-listas">Pagamentos</button></a>
            <a href="/listar-despesas"><button class="btn-listas">Despesas</button></a>  
            <a href="/listar-estoques"><button class="btn-listas">Estoque</button></a>
            <br><br>
        </div>
        <div id="tabela-atendentes">
            <div id="pt2">
            <h1>Lista de Atendentes</h1>
            <form class="filtro" id="filtroAtd" action="/filtrar-atendentes" method="post">
                <input type="text" name="filtroAtd" placeholder="Buscar por Atendente">
                <button type="submit">Buscar</button>
            </form>
            </div>
            <table>
                <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Observações</th>
                    <th colspan="2">Opções</th>
                    
                </tr>
                </thead>    
                <tbody>
                    <% Atendente.forEach(function(Atendente) { %>
                        <tr>                            
                            <!-- <td><%= Atendente.ID %></td> -->
                            <td><%= Atendente.Nome %></td>
                            <td><%= Atendente.Email %></td>
                            <td><%= Atendente.Telefone %></td>
                            <td><%= Atendente.Observacoes %></td>
                            <td><button id="btn-editarAtendente" class="btn-edit" onclick="editarAtendente('<%= Atendente.ID %>')"><i class="fa-solid fa-pen"></button></td>
                            <td><button id="btn-excluirAtendente" class="btn-edit" onclick="excluirAtendente('<%= Atendente.ID %>')"><i class="fa-solid fa-trash"></button></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div id="editarAtendente">
            <span id="fecharPopupEdicaoAtd" onclick="fecharPopupEdicaoAtd()"><i class="fa-solid fa-circle-xmark"></i></span>
            <h2>Edição de cadastro</h2>
            <input type="hidden" id="edit-atendente-id"><br>
            <form action="/editar-cadastro-atendente" method="post">
                <div id="form-atendente">
                    
                    <label for="nomeAtendenteEditado">Nome:</label><br>
                    <input type="text" id="nomeAtendenteEditado" required size="25">

                    <label for="emailAtendenteEditado">E-mail:</label><br>
                    <input type="text" id="emailAtendenteEditado" class="campoEmail" name="emailAtendenteEditado" placeholder="email@email.com" size="25">

                    <label for="telefoneAtendenteEditado">Telefone:</label><br>
                    <input type="tel" id="telefoneAtendenteEditado" name="telefoneAtendenteEditado" placeholder="(99) 90000-0000" required size="20" maxlength="14">
                    
                    <label for="obsAtendenteEditado">Observações:</label><br>
                    <input type="text" id="obsAtendenteEditado" style="width: 83%; height: 35px;">
                    
                </div>
                <div>
                    <br>
                    <button id="btn-salvarEdicaoAtd">Salvar</button>
                    <button id="btn-cancelarEdicaoAtd" onclick="fecharPopupEdicaoAtd()">Cancelar</button>
                </div>
            </form>
        </div>
    </section>
    <script>
        async function excluirAtendente(atendenteId) {
            console.log(`Excluir atendente com ID ${atendenteId}`);
            const confirmacao = confirm(`Tem certeza que deseja excluir o atendente com ID ${atendenteId}?`);
            if (confirmacao) {
                // Enviar uma solicitação ao servidor para excluir o atendente
                await fetch('/excluir-atendente', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({atendenteId}),
                })
                .then(response => response.text())
                .then(data => {
                    alert(data); // Exibir mensagem de sucesso ou tratamento de erro
                    window.location.reload()// Recarregar a página ou atualizar a lista de atendentes
                })
                .catch(error => {
                    console.error('Erro ao excluir atendente:', error);
                });
            }
        }
    async function editarAtendente(atendenteId){
        console.log(`Editar atendente com ID ${atendenteId}`);
        
        const confirmacao = confirm(`Tem certeza que deseja editar o atendente com ID ${atendenteId}?`);
        if(confirmacao){
            const response = await axios.get("/api/listar-atendentes");
            const atendentes = response.data.Atendentes;

            for (atendente of atendentes) {
                if (atendente.ID == atendenteId) {
                    console.log("atendente", atendente);
                    document.getElementById('edit-atendente-id').value = atendente.ID;
                    document.getElementById('nomeAtendenteEditado').value = atendente.Nome;
                    document.getElementById('emailAtendenteEditado').value = atendente.Email;
                    document.getElementById('telefoneAtendenteEditado').value = atendente.Telefone;
                    document.getElementById('obsAtendenteEditado').value = atendente.Observacoes;
                    break;
                }
            }
            
            // Exibir o popup de edição imediatamente
            document.getElementById("editarAtendente").style.display = "block";
        }
    }
function fecharPopupEdicaoAtd(){
    document.getElementById("editarAtendente").style.display = "none";
    window.location.reload();
}

        
document.getElementById("btn-salvarEdicaoAtd").addEventListener("click", async function() {
    const dadosEditados = {
        atendenteId: document.getElementById("edit-atendente-id").value, 
        novoNomeAtd: document.getElementById("nomeAtendenteEditado").value, 
        novoEmailAtd: document.getElementById("emailAtendenteEditado").value, 
        novoTelefoneAtd: document.getElementById("telefoneAtendenteEditado").value, 
        novoObsAtd: document.getElementById("obsAtendenteEditado").value, 
    };

    await fetch('/editar-cadastro-atendente', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(dadosEditados),
    })
    .then(() => {
        document.getElementById("editarAtendente").style.display = "none";
        window.location.reload();
    })
    .catch(error => {
        console.error('Erro ao editar cliente:', error);
    });
    });

    // document.getElementById("btn-cancelarEdicaoAtd").addEventListener("click", function() {
    // document.getElementById("editarAtendente").style.display = "none";
    // window.location.reload();
    // return;
    // });
    </script>
    
</body>
</html>
