<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CATEGORIAS</title>      
</head>
<body id="painel">
    <nav>
        <div class="menu">
            <div class="menu-item">
                <img src="/imagem/logoCash.png" alt="logo">
            </div>
            <div class="menu-item">
                <a href="/listar-clientes"><button class="btn"><i class="fas fa-home"></i><br>Dashboard</button></a>            
            </div>
            <div class="menu-item">
                <a href="/listar-pedidos"><button id="pedido" class="btn"><i class="fa-solid fa-cash-register"></i><br>Pedidos</button></a>
            </div>
            <div class="menu-item">
                <a href="/listar-delivery"><button id="pedido" class="btn"><i class="fa-solid fa-truck"></i><br>Delivery</button>  
            </div>
            <div class="menu-item">
                <a href="painel.html"><button class="btn"><i class="fa-solid fa-gears"></i><br>Painel</button></a>
            </div>
        </div> 
    </nav> 
    <section id="painel-principal">
        <div>
            <a href="/listar-clientes"><button class="btn-listas">Clientes</button></a> 
            <a href="/listar-atendentes"><button id="btn-listar-atendentes" class="btn-listas d-none">Atendentes</button></a> 
            <a href="/listar-motoboy"><button id="btn-listar-motoboys" class="btn-listas d-none">Motoboy</button></a> 
            <a href="/listar-produtos"><button class="btn-listas">Produtos</button></a> 
            <a href="/listar-taxas"><button class="btn-listas">Taxas</button></a> 
            <a href="/listar-categorias"><button class="btn-listas">Categorias</button></a>
            <a href="/listar-pagamentos"><button class="btn-listas">Pagamentos</button></a>
            <a href="/listar-despesas"><button id="btn-listar-despesas"class="btn-listas d-none">Despesas</button></a> 
            <a href="/listar-estoques"><button id="btn-listar-estoques"class="btn-listas d-none">Estoque</button></a>  
            <nav>
                <button id="btn-help"><i class="fa-solid fa-circle-info"></i></button>
            </nav>
            <br><br>
        </div>
        <div id="tabela-categorias">
            <div id="pt2">
                <h1>Categorias de Produtos</h1>
                <form class="filtro"id="filtroCategorias" action="/filtrar-categorias" method="post">
                    <input type="text" name="filtroCategorias" placeholder="Buscar Categoria">
                    <button type="submit">Buscar</button>
                </form>
            </div>
            
            <table>
                <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Nome</th>
                    <th>Observações</th>
                    <th colspan="2">Opções</th>
                    
                </tr>
                </thead>    
                <tbody>
                    <% categoria.forEach(function(categoria) { %>
                        <tr>                            
                            <!-- <td><%= categoria.ID %></td> -->
                            <td><%= categoria.Nome %></td>
                            <td><%= categoria.Observacoes %></td>
                            <!-- <td><button id="btn-editarCategoria" class="btn-edit" onclick="editarCategoria('<%= categoria.ID %>')"><i class="fa-solid fa-pen"></i></button></td> -->
                            <td><button id="btn-excluirCategoria" class= "btn-delete" onclick="excluirCategoria('<%= categoria.ID %>')"><i class="fa-solid fa-trash"></i></button></td>
                        
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div id="editarCategoriaPopup">
            <span id="fecharPopupEdicaoCategoria" class="btnFecharPopup"onclick="fecharPopupEdicaoCategoria()"><i class="fa-solid fa-circle-xmark"></i></span>
            <h2>Editar Categoria</h2>
            <input type="hidden" id="edit-categoria-id"><br>
            <form action="/editar-categoria" method="post">
                <div>
                    <label for="nomeCategoriaEditada">Nome:</label><br>
                    <input type="text" id="nomeCategoriaEditada" name="nomeCategoriaEditada" required size="30">
        
                    <label for="obsCategoriaEditada">Observações:</label><br>
                    <input type="text" id="obsCategoriaEditada" name="obsCategoriaEditada" style="width: 80%; height: 50px;">
                </div>
                <div>
                    <br>
                    <button id="btn-salvarEdicaoCategoria" class="btn-form">Salvar</button>
                    <button id="btn-cancelarEdicaoCategoria" onclick="fecharPopupEdicaoCategoria()">Cancelar</button>
                </div>
            </form>
        </div>
        
    </section>
    <script>
        if (sessionStorage.getItem("role")== "admin") {
            const btnListarDespesas = document.querySelector('#btn-listar-despesas');
            btnListarDespesas.classList.remove("d-none");

            const btnListarAtendentes = document.querySelector('#btn-listar-atendentes');
            btnListarAtendentes.classList.remove("d-none");

            const btnListarMotoboys = document.querySelector('#btn-listar-motoboys');
            btnListarMotoboys.classList.remove("d-none");

            const btnListarEstoques = document.querySelector('#btn-listar-estoques');
            btnListarEstoques.classList.remove("d-none");
        }
        async function excluirCategoria(categoriaId) {
            console.log(`Excluir categoria com ID ${categoriaId}`);
            const confirmacao = confirm(`Tem certeza que deseja excluir a categoria com ID ${categoriaId}?`);
            if (confirmacao) {
                await fetch('/excluir-categoria', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({categoriaId}),
                })
                .then(response => response.text())
                .then(data => {
                    alert(data); // Exibir mensagem de sucesso ou tratamento de erro
                    window.location.reload()// Recarregar a página ou atualizar a lista de categoria
                })
                .catch(error => {
                    console.error('Erro ao excluir categoria:', error);
                });
            }
        }
        async function editarCategoria(categoriaId){
            console.log(`Editar categoria com ID ${categoriaId}`);
            
            const confirmacao = confirm(`Tem certeza que deseja editar a categoria com ID ${categoriaId}?`);
            if(confirmacao){
                const response = await axios.get("/api/listar-categorias");
                const categorias = response.data.categoria;

                for (categoria of categorias) {
                    if (categoria.ID == categoriaId) {
                        console.log("categoria", categoria);
                        document.getElementById('edit-categoria-id').value = categoria.ID;
                        document.getElementById('nomeCategoriaEditada').value = categoria.Nome;
                        document.getElementById('obsCategoriaEditada').value = categoria.Observacoes;
                        break;
                    }
                }
                
                // Exibir o popup de edição imediatamente
                document.getElementById("editarCategoriaPopup").style.display = "block";
            }
        }

        function fecharPopupEdicaoCategoria(){
            document.getElementById("editarCategoriaPopup").style.display = "none";
            window.location.reload();
        }

        document.getElementById("btn-salvarEdicaoCategoria").addEventListener("click", async function() {
            const dadosEditados = {
                categoriaId: document.getElementById("edit-categoria-id").value, 
                nomeCategoriaEditada: document.getElementById("nomeCategoriaEditada").value, 
                obsCategoriaEditada: document.getElementById("obsCategoriaEditada").value, 
            };

            await fetch('/editar-categoria', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(dadosEditados),
            })
            .then(() => {
                document.getElementById("editarCategoriaPopup").style.display = "none";
                window.location.reload();
            })
            .catch(error => {
                console.error('Erro ao editar categoria:', error);
            });
        });

        document.getElementById("btn-cancelarEdicaoCategoria").addEventListener("click", function() {
            document.getElementById("editarCategoriaPopup").style.display = "none";
            window.location.reload();
            return;
        });
        document.getElementById('btn-help').addEventListener('click', function() {
            window.open('https://youtu.be/yVOXm5V76Tw', '_blank');
        });
    </script>
    
</body>
</html>
