<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CATEGORIAS</title>      
</head>
<body id="painel">
    <nav>
        <div class="menu">
            <div class="menu-item">
                <img src="/imagem/logoCash.png" alt="logo">
            </div>
            <div class="menu-item">
                <a href="/listar-clientes"><button class="btn"><i class="fas fa-home"></i><br>Dashboard</button></a>            
            </div>
            <div class="menu-item">
                <a href="/listar-pedidos"><button id="pedido" class="btn"><i class="fa-solid fa-cash-register"></i><br>Pedidos</button></a>
            </div>
            <div class="menu-item">
                <button class="btn"><i class="fa-solid fa-truck"></i><br>Entrega</button>
            </div>
            <div class="menu-item">
                <button class="btn"><i class="fa-solid fa-bell-concierge"></i><br>Salão</button>
            </div>
            <div class="menu-item">
                <a href="painel.html"><button class="btn"><i class="fa-solid fa-gears"></i><br>Painel</button></a>
            </div>
        </div> 
    </nav> 
    <section id="painel-principal">
        <div>
            <a href="/listar-clientes"><button class="btn-listas">Clientes</button></a> 
            <a href="/listar-atendentes"><button class="btn-listas">Atendentes</button></a> 
            <a href="/listar-motoboy"><button class="btn-listas">Motoboy</button></a> 
            <a href="/listar-produtos"><button class="btn-listas">Produtos</button></a> 
            <a href="/listar-membros"><button class="btn-listas">Membros</button></a> 
            <a href="/listar-categorias"><button class="btn-listas">Categorias</button></a> 
            <a href="/listar-pagamentos"><button class="btn-listas">Pagamentos</button></a>
            <a href="/listar-despesas"><button class="btn-listas">Despesas</button></a>   
            <a href="/listar-estoques"><button class="btn-listas">Estoque</button></a>
            <br><br>
        </div>
        <div id="tabela-categorias">
            <h1>Lista de Categorias</h1>
            <table>
                <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Nome</th>
                    <th>Observações</th>
                    <th colspan="2">Opções</th>
                    
                </tr>
                </thead>    
                <tbody>
                    <% categoria.forEach(function(categoria) { %>
                        <tr>                            
                            <!-- <td><%= categoria.ID %></td> -->
                            <td><%= categoria.Nome %></td>
                            <td><%= categoria.Observacoes %></td>
                            <td><button id="btn-editarCategoria" class="btn-edit" onclick="editarCategoria('<%= categoria.ID %>')"><i class="fa-solid fa-pen"></i></button></td>
                            <td><button id="btn-excluirCategoria" class= "btn-delete" onclick="excluirCategoria('<%= categoria.ID %>')"><i class="fa-solid fa-trash"></i></button></td>
                        
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </section>
    <script>
        async function excluirCategoria(categoriaId) {
            console.log(`Excluir categoria com ID ${categoriaId}`);
            const confirmacao = confirm(`Tem certeza que deseja excluir a categoria com ID ${categoriaId}?`);
            if (confirmacao) {
                await fetch('/excluir-categoria', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({categoriaId}),
                })
                .then(response => response.text())
                .then(data => {
                    alert(data); // Exibir mensagem de sucesso ou tratamento de erro
                    window.location.reload()// Recarregar a página ou atualizar a lista de categoria
                })
                .catch(error => {
                    console.error('Erro ao excluir categoria:', error);
                });
            }
        }
    </script>
    
</body>
</html>
