<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Dashboard</title>      
</head>
<body id="painel">
    <nav>
        <div class="menu">
            <div class="menu-item">
                <img src="/imagem/logo-nome.png" alt="logo">
            </div>
            <div class="menu-item">
                <a href="/listar-clientes"><button class="btn"><i class="fas fa-home"></i><br>Dashboard</button></a>            </div>
            <div class="menu-item">
                <button class="btn"><i class="fa-solid fa-cash-register"></i><br>Venda</button>
            </div>
            <div class="menu-item">
                <button class="btn"><i class="fa-solid fa-truck"></i><br>Entrega</button>
            </div>
            <div class="menu-item">
                <button class="btn"><i class="fa-solid fa-bell-concierge"></i><br>Salão</button>
            </div>
            <div class="menu-item">
                <a href="painel.html"><button class="btn"><i class="fa-solid fa-gears"></i><br>Painel</button></a>
            </div>
        </div> 
    </nav> 
    
    <div id="editar-cliente" style="display: none;">
        <span id="fecharPopupCli" onclick="fecharPopupCli()">X</span>
        <h2>Edição de cadastro</h2>
        <input type="hidden" id="edit-cliente-id" value=<%= clientes.id %>><br>
        <form action="/editar-cadastro-cliente">
            <div id="form-cliente1">
                <label for="nomeClienteEditado">Nome:</label><br>
                <input type="text" id="nomeClienteEditado" value=<%= clientes.nome %> required>

                <label for="emailClienteEditado-">E-mail:</label><br>
                <input type="text" id="emailClienteEditado" value=<%= clientes.email %> placeholder="email@email.com" size="25"><br>

                <label for="cpfClienteEditado">CPF:</label><br>
                <input type="text" id="cpfClienteEditado" value=<%= clientes.cpf %> placeholder="xxx.xxx.xxx.xx"><br>

                <label for="telefoneClienteEditado">Telefone:</label><br>
                <input type="tel" id="telefoneClienteEditado" value=<%= clientes.telefone %> placeholder="(99) 90000-0000" required size="20" maxlength="14"><br>
            </div>
            <br>
            <h3>Endereço</h3><br>
            <div id="form-cliente2">
                <label for="logradouroClienteEditado">Logradouro:</label>
                <input type="text" id="logradouroClienteEditado" value=<%= clientes.logradouro %> size="25">

                <label for="cidadeClienteEditado">Cidade:</label>
                <input type="text" id="cidadeClienteEditado" value=<%= clientes.cidade %> size="25">

                <label for="complementoClienteEditado">Complemento:</label>
                <input type="text" id="complementoClienteEditado" value=<%= clientes.complemento %> placeholder="Apt / Bloco / Quadra" size="25">

                <label for="numeroClienteEditado">Nº:</label>
                <input type="text" id="numeroClienteEditado" value=<%= clientes.numero %> style="width: 50px;">

                <label for="estadoClienteEditado">Estado:</label>
                <input type="text" id="estadoClienteEditado" value=<%= clientes.estado %> style="width: 100px;">

                <label for="cepClienteEditado">CEP:</label><br>
                <input type="text" id="cepClienteEditado" value=<%= clientes.cep %> style="width: 100px;">
            </div>
            <div>
                <br>
                <button id="btn-salvarEdicao">Salvar Edição</button>
                <button id="btn-cancelarEdicao">Cancelar</button>
            </div>
        </form>
        </form>
    </div>
    
    
    <script>
    

    
    </script>
    
</body>
</html>
