<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>MOTOBOY</title>      
</head>
<body id="painel">
    <nav>
        <div class="menu">
            <div class="menu-item">
                <img src="/imagem/logoCash.png" alt="logo">
            </div>
            <div class="menu-item">
                <a href="/listar-clientes"><button class="btn"><i class="fas fa-home"></i><br>Dashboard</button></a>            
            </div>
            <div class="menu-item">
                <a href="/listar-pedidos"><button id="pedido" class="btn"><i class="fa-solid fa-cash-register"></i><br>Pedidos</button></a>
            </div>
            <div class="menu-item">
                <a href="/listar-delivery"><button id="pedido" class="btn"><i class="fa-solid fa-truck"></i><br>Delivery</button>              
            </div>
            <div class="menu-item">
                <a href="painel.html"><button class="btn"><i class="fa-solid fa-gears"></i><br>Painel</button></a>
            </div>
        </div> 
    </nav> 
    <section id="painel-principal">
        <div>
            <a href="/listar-clientes"><button class="btn-listas">Clientes</button></a> 
            <a href="/listar-atendentes"><button class="btn-listas">Atendentes</button></a> 
            <a href="/listar-motoboy"><button class="btn-listas">Motoboy</button></a> 
            <a href="/listar-produtos"><button class="btn-listas">Produtos</button></a> 
            <a href="/listar-taxas"><button class="btn-listas">Taxas</button></a> 
            <a href="/listar-categorias"><button class="btn-listas">Categorias</button></a> 
            <a href="/listar-pagamentos"><button class="btn-listas">Pagamentos</button></a>
            <a href="/listar-despesas"><button class="btn-listas">Despesas</button></a> 
            <a href="/listar-estoques"><button class="btn-listas">Estoque</button></a> 
            <br><br> 
        </div>
        <div id="tabela-motoboy">
            
            <div id="pt2">
                <h1>Motoboys</h1>
                <form class="filtro" id="filtroMotoboys" action="/filtrar-motoboys" method="post">
                    <input type="text" name="filtroMotoboys" placeholder="Buscar Motoboy">
                    <button type="submit">Buscar</button>
                </form>
            </div>
            <table>
                <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Observações</th>
                    <th colspan="2">Opções</th>
                    
                </tr>
                </thead>    
                <tbody>
                    <% Motoboy.forEach(function(Motoboy) { %>
                        <tr>                            
                            <!-- <td><%= Motoboy.ID %></td> -->
                            <td><%= Motoboy.Nome %></td>
                            <td><%= Motoboy.Email %></td>
                            <td><%= Motoboy.Telefone %></td>
                            <td><%= Motoboy.Observacoes %></td>
                            <td><button id="btn-editarMotoboy" class="btn-edit" onclick="editarMotoboy('<%= Motoboy.ID %>')"><i class="fa-solid fa-pen"></button></td>
                            <td><button id="btn-excluirMotoboy" class="btn-edit" onclick="excluirMotoboy('<%= Motoboy.ID %>')"><i class="fa-solid fa-trash"></button></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div id="editarMotoboy">
            <span id="fecharPopupEdicaoMotoboy" onclick="fecharPopupEdicaoMotoboy()"><i class="fa-solid fa-circle-xmark"></i></span>
            <h2>Edição de cadastro</h2>
            <input type="hidden" id="edit-motoboy-id"><br>
            <form action="/editar-cadastro-motoboy" method="post">
                <div id="form-motoboy">
                    <label for="nomeMotoboyEditado">Nome:</label><br>
                    <input type="text" id="nomeMotoboyEditado" required size="25">
        
                    <label for="emailMotoboyEditado">E-mail:</label><br>
                    <input type="text" id="emailMotoboyEditado" class="campoEmail" name="emailMotoboyEditado" placeholder="email@email.com" size="25">
        
                    <label for="telefoneMotoboyEditado">Telefone:</label><br>
                    <input type="tel" id="telefoneMotoboyEditado" name="telefoneMotoboyEditado" placeholder="(99) 90000-0000" required size="20" maxlength="14">
                    
                    <label for="obsMotoboyEditado">Observações:</label><br>
                    <input type="text" id="obsMotoboyEditado" style="width: 83%; height: 35px;">
                </div>
                <div>
                    <br>
                    <button id="btn-salvarEdicaoMotoboy">Salvar</button>
                    <!-- <button id="btn-cancelarEdicaoMotoboy" onclick="fecharPopupEdicaoMotoboy()">Cancelar</button> -->
                </div>
            </form>
        </div>
        
    </section>
    <script>
        async function excluirMotoboy(motoboyId) {
            console.log(`Excluir motoboy com ID ${motoboyId}`);
            const confirmacao = confirm(`Tem certeza que deseja excluir o motoboy com ID ${motoboyId}?`);
            if (confirmacao) {
                await fetch('/excluir-motoboy', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({motoboyId}),
                })
                .then(response => response.text())
                .then(data => {
                    alert(data); // Exibir mensagem de sucesso ou tratamento de erro
                    window.location.reload()// Recarregar a página ou atualizar a lista de motoboy
                })
                .catch(error => {
                    console.error('Erro ao excluir motoboy:', error);
                });
            }
        }



        async function editarMotoboy(motoboyId){
            console.log(`Editar motoboy com ID ${motoboyId}`);
            
            const confirmacao = confirm(`Tem certeza que deseja editar o motoboy com ID ${motoboyId}?`);
            if(confirmacao){
                const response = await axios.get("/api/listar-motoboy");
                const motoboys = response.data.Motoboy;

                for (motoboy of motoboys) {
                    if (motoboy.ID == motoboyId) {
                        console.log("motoboy", motoboy);
                        document.getElementById('edit-motoboy-id').value = motoboy.ID;
                        document.getElementById('nomeMotoboyEditado').value = motoboy.Nome;
                        document.getElementById('emailMotoboyEditado').value = motoboy.Email;
                        document.getElementById('telefoneMotoboyEditado').value = motoboy.Telefone;
                        document.getElementById('obsMotoboyEditado').value = motoboy.Observacoes;
                        break;
                    }
                }
                
                // Exibir o popup de edição imediatamente
                document.getElementById("editarMotoboy").style.display = "block";
            }
        }

        function fecharPopupEdicaoMotoboy(){
            document.getElementById("editarMotoboy").style.display = "none";
            window.location.reload();
        }

        document.getElementById("btn-salvarEdicaoMotoboy").addEventListener("click", async function() {
            const dadosEditados = {
                motoboyId: document.getElementById("edit-motoboy-id").value, 
                novoNomeMotoboy: document.getElementById("nomeMotoboyEditado").value, 
                novoEmailMotoboy: document.getElementById("emailMotoboyEditado").value, 
                novoTelefoneMotoboy: document.getElementById("telefoneMotoboyEditado").value, 
                novoObsMotoboy: document.getElementById("obsMotoboyEditado").value, 
            };

            await fetch('/editar-cadastro-motoboy', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(dadosEditados),
            })
            .then(() => {
                document.getElementById("editarMotoboy").style.display = "none";
                window.location.reload();
            })
            .catch(error => {
                console.error('Erro ao editar motoboy:', error);
            });
        });

        document.getElementById("btn-cancelarEdicaoMotoboy").addEventListener("click", function() {
            document.getElementById("editarMotoboy").style.display = "none";
            window.location.reload();
            return;
        });



        
    </script>
    
</body>
</html>
