<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CLIENTES</title>      
    <link rel="shortcut icon" type="image/ico" href="/imagem/logo.png" />
</head>
<body id="painel">
    <nav>
        <div class="menu">
            <div class="menu-item">
                <img src="/imagem/logoCash.png" alt="logo">
            </div>
            <div class="menu-item">
                <a href="/listar-clientes"><button class="btn"><i class="fas fa-home"></i><br>Dashboard</button></a>            
            </div>
            <div class="menu-item">
                <a href="/listar-pedidos"><button id="pedido" class="btn"><i class="fa-solid fa-cash-register"></i><br>Pedidos</button></a>
            </div>
            <div class="menu-item">
                <button class="btn"><i class="fa-solid fa-truck"></i><br>Entrega</button>
            </div>

            <div class="menu-item">
                <a href="painel.html"><button class="btn"><i class="fa-solid fa-gears"></i><br>Painel</button></a>
            </div>
        </div> 
    </nav> 
    <section id="painel-principal">
        <div>
            <a href="/listar-clientes"><button class="btn-listas">Clientes</button></a> 
            <a href="/listar-atendentes"><button id="btn-listar-atendentes" class="btn-listas d-none">Atendentes</button></a> 
            <a href="/listar-motoboy"><button id="btn-listar-motoboys" class="btn-listas d-none">Motoboy</button></a> 
            <a href="/listar-produtos"><button class="btn-listas">Produtos</button></a> 
            <a href="/listar-membros"><button id="btn-listar-membros" class="btn-listas d-none">Membros</button></a> 
            <a href="/listar-categorias"><button class="btn-listas">Categorias</button></a>
            <a href="/listar-pagamentos"><button class="btn-listas">Pagamentos</button></a>
            <a href="/listar-despesas"><button id="btn-listar-despesas"class="btn-listas d-none">Despesas</button></a> 
            <a href="/listar-estoques"><button id="btn-listar-estoques"class="btn-listas d-none">Estoque</button></a>  
            <br><br>
        </div>
        <div id="tabela-clientes">
                <div class="flex-container">
                    <div id="pt1">
                        <h1>Lista de Clientes</h1>
                    </div>
                    <div id="pt2">
                        <a href="/listar-clientes"><button class="btn-status">ATIVOS</button></a>
                        <a href="/listar-clientes-inativos"><button class="btn-status">INATIVOS</button></a>
                        <br><br>
                        <form class="filtro" id="filtro" action="/listar-clientes" method="post">
                            <input type="text" name="filtro" placeholder="Buscar por Cliente">
                            <button type="submit">Buscar</button>
                        </form>
                        <br>
                    </div>
                </div>        
            <table>
                <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Logradouro</th>
                    <th>Numero</th>
                    <th>Complemento</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>CEP</th>
                    <th colspan="2">Opções</th>
                    
                </tr>
                </thead>    
                <tbody>
                    <% clientes.forEach(function(cliente) { %>
                        <tr>                            
                            <!-- <td><%= cliente.id %></td> -->
                            <td><%= cliente.nome %></td>
                            <td><%= cliente.email %></td>
                            <td><%= cliente.cpf %></td>
                            <td><%= cliente.telefone %></td>
                            <td><%= cliente.logradouro %></td>
                            <td><%= cliente.numero %></td>
                            <td><%= cliente.complemento %></td>
                            <td><%= cliente.cidade %></td>
                            <td><%= cliente.estado %></td>
                            <td><%= cliente.cep %></td>
                            <td><button id="btn-editarCliente" class="btn-edit" onclick="editarCliente('<%= cliente.id %>')"><i class="fa-solid fa-pen"></button></td>
                            <td>
                                <% if (cliente.status === 'INATIVO') { %>
                                    <button id="btn-atualizarCliente" class="btn-update" onclick="ativarCliente('<%= cliente.id %>')">
                                        <i class="fa-solid fa-bolt"></i>
                                    </button>
                                <% } else { %>
                                    <button id="btn-excluirCliente" class="btn-delete" onclick="excluirCliente('<%= cliente.id %>')">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div id="editarCliente">
            <span id="fecharPopupEdicaoCli" onclick="fecharPopupEdicaoCli()"><i class="fa-solid fa-circle-xmark"></i></span>
            <h2>Edição de cadastro</h2>
            <input type="hidden" id="edit-cliente-id"><br>
            <form action="/editar-cadastro-cliente" method="post">
                <div id="form-cliente1">
                    <label for="nomeClienteEditado">Nome:</label><br>
                    <input type="text" id="nomeClienteEditado"><br>
    
                    <label for="emailClienteEditado">E-mail:</label><br>
                    <input type="text" id="emailClienteEditado" placeholder="email@email.com" size="25"><br>
    
                    <label for="cpfClienteEditado">CPF:</label><br>
                    <input type="text" id="cpfClienteEditado" placeholder="xxx.xxx.xxx.xx"><br>
    
                    <label for="telefoneClienteEditado">Telefone:</label><br>
                    <input type="tel" id="telefoneClienteEditado" placeholder="(99) 90000-0000" required size="20" maxlength="14"><br>
                </div>
                <br>
                <h3>Endereço</h3><br>
                <div id="form-cliente2">
                    <label for="logradouroClienteEditado">Logradouro:</label>
                    <input type="text" id="logradouroClienteEditado" size="25">
    
                    <label for="cidadeClienteEditado">Cidade:</label>
                    <input type="text" id="cidadeClienteEditado" size="25">
    
                    <label for="complementoClienteEditado">Complemento:</label>
                    <input type="text" id="complementoClienteEditado" placeholder="Apt / Bloco / Quadra" size="25">
    
                    <label for="numeroClienteEditado">Nº:</label>
                    <input type="text" id="numeroClienteEditado" style="width: 50px;">
    
                    <label for="estadoClienteEditado">Estado:</label>
                    <input type="text" id="estadoClienteEditado" style="width: 100px;">
    
                    <label for="cepClienteEditado">CEP:</label><br>
                    <input type="text" id="cepClienteEditado" style="width: 100px;">
                </div>
                <div>
                    <br>
                    <button id="btn-salvarEdicao">Salvar</button>
                    <button id="btn-cancelarEdicao">Cancelar</button>
                </div>
            </form>
        </div>
    </section>
    
    <script>
        if (sessionStorage.getItem("role")== "admin") {
            const btnListarDespesas = document.querySelector('#btn-listar-despesas');
            btnListarDespesas.classList.remove("d-none");

            const btnListarAtendentes = document.querySelector('#btn-listar-atendentes');
            btnListarAtendentes.classList.remove("d-none");

            const btnListarMotoboys = document.querySelector('#btn-listar-motoboys');
            btnListarMotoboys.classList.remove("d-none");

            const btnListarMembros = document.querySelector('#btn-listar-membros');
            btnListarMembros.classList.remove("d-none");

            const btnListarEstoques = document.querySelector('#btn-listar-estoques');
            btnListarEstoques.classList.remove("d-none");
        }
        
        document.addEventListener('DOMContentLoaded', function(){
        const btnAtivos = document.querySelector('#pt2 .btn-listas:nth-child(1)');
        const btnInativos = document.querySelector('#pt2 .btn-listas:nth-child(2)');

        function fecharPopupEdicaoCli(){
        document.getElementById("editarCliente").style.display = "none";
        window.location.reload();
}

        // btnAtivos.addEventListener('click', function(){
        //     window.location.href = '/listar-clientes';
        // });

        // btnInativos.addEventListener('click', function(){
        //     window.location.href = '/listar-clientes-inativos';
        // });
        });
    
        async function editarCliente(clienteId){
            console.log(`Editar cliente com ID ${clienteId}`);
            const confirmacao = confirm(`Tem certeza que deseja editar o cliente com ID ${clienteId}?`);
            if(confirmacao){
                const response = await axios.get("/api/listar-clientes");
                const clientes = response.data.clientes;

                for (cliente of clientes) {
                    if (cliente.id == clienteId) {
                        console.log("cliente", cliente);
                        document.getElementById('edit-cliente-id').value = cliente.id;
                        document.getElementById('nomeClienteEditado').value = cliente.nome;
                        document.getElementById('emailClienteEditado').value = cliente.email;
                        document.getElementById('cpfClienteEditado').value = cliente.cpf;
                        document.getElementById('telefoneClienteEditado').value = cliente.telefone;
                        document.getElementById('logradouroClienteEditado').value = cliente.logradouro;
                        document.getElementById('cidadeClienteEditado').value = cliente.cidade;
                        document.getElementById('complementoClienteEditado').value = cliente.complemento;
                        document.getElementById('numeroClienteEditado').value = cliente.numero;
                        document.getElementById('estadoClienteEditado').value = cliente.estado;
                        document.getElementById('cepClienteEditado').value = cliente.cep;
                        break;
                    }
                }
                
                // Exibir o popup de edição imediatamente
                document.getElementById("editarCliente").style.display = "block";
            }
        }

//


document.getElementById("btn-salvarEdicao").addEventListener("click", async function() {
    const dadosEditados = {
        clienteId: document.getElementById("edit-cliente-id").value, 
        novoNome: document.getElementById("nomeClienteEditado").value, 
        novoEmail: document.getElementById("emailClienteEditado").value, 
        novoCpf: document.getElementById("cpfClienteEditado").value, 
        novoTelefone: document.getElementById("telefoneClienteEditado").value, 
        novoLogradouro: document.getElementById("logradouroClienteEditado").value, 
        novaCidade: document.getElementById("cidadeClienteEditado").value, 
        novoComplemento: document.getElementById("complementoClienteEditado").value, 
        novoNumero: document.getElementById("numeroClienteEditado").value, 
        novoEstado: document.getElementById("estadoClienteEditado").value, 
        novoCep: document.getElementById("cepClienteEditado").value
    };

    await fetch('/editar-cadastro-cliente', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(dadosEditados),
    })
    .then(() => {
        document.getElementById("editarCliente").style.display = "none";
        window.location.reload();
    })
    .catch(error => {
        console.error('Erro ao editar cliente:', error);
    });
    });

    document.getElementById("btn-cancelarEdicao").addEventListener("click", function() {
    document.getElementById("editarCliente").style.display = "none";
    });

    async function excluirCliente(clienteId){
        console.log(`Inativar cliente com ID ${clienteId}`);
        const confirmacao = confirm(`Tem certeza que deseja inativar o cliente com ID ${clienteId}?`);
        if(confirmacao){
            // Enviar uma solicitação ao servidor para excluir o cliente
            await fetch('/excluir-cliente',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({clienteId}),
            })
            .then(response => response.text())
            .then(data => {
                alert(data); 
                window.location.reload();
            })
            .catch(error => {
                console.error('Erro ao excluir cliente:', error);
            });
        }
    }

    async function ativarCliente(clienteId){
        console.log(`Ativar cliente com ID ${clienteId}`);
        const confirmacao = confirm(`Tem certeza que deseja ativar o cliente com ID ${clienteId}?`);
        if(confirmacao){
            await fetch('/ativar-cliente',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({clienteId}),
            })
            .then(response => response.text())
            .then(data => {
                alert(data);
                window.location.reload();
            })
            .catch(error => {
                console.error('Erro ao ativar cliente:', error);
            });
        }
    }

    </script>
</body>
</html>
