<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Dashboard</title>      
</head>
<body id="painel">
    <nav>
        <div class="menu">
            <div class="menu-item">
                <img src="/frontend/imagem/logo-nome.png" alt="logo">
            </div>
            <div class="menu-item">
                <a href="/listar-clientes"><button class="btn"><i class="fas fa-home"></i><br>Dashboard</button></a>            </div>
            <div class="menu-item">
                <button class="btn"><i class="fa-solid fa-cash-register"></i><br>Venda</button>
            </div>
            <div class="menu-item">
                <button class="btn"><i class="fa-solid fa-truck"></i><br>Entrega</button>
            </div>
            <div class="menu-item">
                <button class="btn"><i class="fa-solid fa-bell-concierge"></i><br>Salão</button>
            </div>
            <div class="menu-item">
                <a href="painel.html"><button class="btn"><i class="fa-solid fa-gears"></i><br>Painel</button></a>
            </div>
        </div> 
    </nav> 
    <section id="painel-principal">
        <div id="tabela-clientes">
            <h1>Lista de Clientes</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Logradouro</th>
                    <th>Cidade</th>
                    <th>Complemento</th>
                    <th>Numero</th>
                    <th>Estado</th>
                    <th>CEP</th>
                    <th>a</th>
                    <th>a</th>
                    <!-- Adicione mais colunas conforme necessário -->
                </tr>
                </thead>    
                <tbody>
                    <% clientes.forEach(function(clientes) { %>
                        <tr>
                            <!-- Adicione esta coluna na tabela -->
                            
                            <td><%= clientes.id %></td>
                            <td><%= clientes.nome %></td>
                            <td><%= clientes.email %></td>
                            <td><%= clientes.cpf %></td>
                            <td><%= clientes.telefone %></td>
                            <td><%= clientes.logradouro %></td>
                            <td><%= clientes.cidade %></td>
                            <td><%= clientes.complemento %></td>
                            <td><%= clientes.numero %></td>
                            <td><%= clientes.estado %></td>
                            <td><%= clientes.cep %></td>
                            <td><button class="btn-editarCliente" onclick="editarCliente('<%= clientes.id %>')">Editar</button></td>
                            <td><button class="btn-excluirCliente" onclick="excluirCliente('<%= clientes.id %>')">Excluir</button></td>
                        <!-- Adicione mais colunas conforme necessário -->
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </section>
    
    
    <script>
        async function excluirCliente(clienteId) {
            console.log(`Excluir cliente com ID ${clienteId}`);
            const confirmacao = confirm(`Tem certeza que deseja excluir o cliente com ID ${clienteId}?`);
            if (confirmacao) {
                // Enviar uma solicitação ao servidor para excluir o cliente
                await fetch('/excluir-cliente', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({clienteId}),
                })
                .then(response => response.text())
                .then(data => {
                    alert(data); // Exibir mensagem de sucesso ou tratamento de erro
                    // Pode recarregar a página ou atualizar a lista de clientes
                })
                .catch(error => {
                    console.error('Erro ao excluir cliente:', error);
                });
            }
        }
    </script>
    
</body>
</html>
