<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CLIENTES</title>      
    <link rel="shortcut icon" type="image/ico" href="/imagem/logo.png" />
</head>
<body id="painel">
    <nav>
        <div class="menu">
            <div class="menu-item">
                <img src="/imagem/logoCash.png" alt="logo">
            </div>
            <div class="menu-item">
                <a href="/listar-clientes"><button class="btn"><i class="fas fa-home"></i><br>Dashboard</button></a>            
            </div>
            <div class="menu-item">
                <a href="/listar-pedidos"><button id="pedido" class="btn"><i class="fa-solid fa-cash-register"></i><br>Pedidos</button></a>
            </div>
            <div class="menu-item">
                <button class="btn"><i class="fa-solid fa-truck"></i><br>Entrega</button>
            </div>
            <div class="menu-item">
                <button class="btn"><i class="fa-solid fa-bell-concierge"></i><br>Salão</button>
            </div>
            <div class="menu-item">
                <a href="painel.html"><button class="btn"><i class="fa-solid fa-gears"></i><br>Painel</button></a>
            </div>
        </div> 
    </nav> 
    <section id="painel-principal">
        <div>
            <a href="/listar-clientes"><button class="btn-listas">Clientes</button></a> 
            <a href="/listar-atendentes"><button class="btn-listas">Atendentes</button></a> 
            <a href="/listar-motoboy"><button class="btn-listas">Motoboy</button></a> 
            <a href="/listar-produtos"><button class="btn-listas">Produtos</button></a> 
            <a href="/listar-membros"><button class="btn-listas">Membros</button></a> 
            <a href="/listar-categorias"><button class="btn-listas">Categorias</button></a>
            <a href="/listar-pagamentos"><button class="btn-listas">Pagamentos</button></a>
            <a href="/listar-despesas"><button class="btn-listas">Despesas</button></a>  
            <br><br>
        </div>
        <div id="tabela-clientes">
           
            
                <div class="flex-container">
                    <div id="pt1">
                        <h1>Lista de Clientes</h1>
                    </div>
                    <div id="pt2">
                        <a href="/listar-clientes"><button class="btn-status">ATIVOS</button></a>
                        <a href="/listar-clientes-inativos"><button class="btn-status">INATIVOS</button></a>
                        <br><br>
                    </div>
                </div>
                
                      
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Logradouro</th>
                    <th>Cidade</th>
                    <th>Complemento</th>
                    <th>Numero</th>
                    <th>Estado</th>
                    <th>CEP</th>
                    <th colspan="2">Opções</th>
                    
                    
                </tr>
                </thead>    
                <tbody>
                    <% clientes.forEach(function(clientes) { %>
                        <tr>                            
                            <td><%= clientes.id %></td>
                            <td><%= clientes.nome %></td>
                            <td><%= clientes.email %></td>
                            <td><%= clientes.cpf %></td>
                            <td><%= clientes.telefone %></td>
                            <td><%= clientes.logradouro %></td>
                            <td><%= clientes.cidade %></td>
                            <td><%= clientes.complemento %></td>
                            <td><%= clientes.numero %></td>
                            <td><%= clientes.estado %></td>
                            <td><%= clientes.cep %></td>
                            <td><button id="btn-editarCliente" class="btn-edit" onclick="editarCliente('<%= clientes.id %>')"><i class="fa-solid fa-pen"></button></td>
                            <!-- Substitua a linha do botão de excluir pelo seguinte código -->
                            <td>
                                <% if (clientes.status === 'INATIVO') { %>
                                    <button id="btn-atualizarCliente" class="btn-update" onclick="ativarCliente('<%= clientes.id %>')">
                                        <i class="fa-solid fa-bolt"></i>
                                    </button>
                                <% } else { %>
                                    <button id="btn-excluirCliente" class="btn-delete" onclick="excluirCliente('<%= clientes.id %>')">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                <% } %>
                            </td>

                        
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div id="editarCliente">
            <span id="fecharPopupEdicaoCli" onclick="fecharPopupEdicaoCli()">X</span>
            <h2>Edição de cadastro</h2>
            <input type="hidden" id="edit-cliente-id" value=<%= clientes.id %>><br>
            <form action="/editar-cadastro-cliente">
                <div id="form-cliente1">
                    <label for="nomeClienteEditado">Nome:</label><br>
                    <input type="text" id="nomeClienteEditado" value=<%= clientes.nome %> required>
    
                    <label for="emailClienteEditado-">E-mail:</label><br>
                    <input type="text" id="emailClienteEditado" value=<%= clientes.email %> placeholder="email@email.com" size="25"><br>
    
                    <label for="cpfClienteEditado">CPF:</label><br>
                    <input type="text" id="cpfClienteEditado" value=<%= clientes.cpf %> placeholder="xxx.xxx.xxx.xx"><br>
    
                    <label for="telefoneClienteEditado">Telefone:</label><br>
                    <input type="tel" id="telefoneClienteEditado" value=<%= clientes.telefone %> placeholder="(99) 90000-0000" required size="20" maxlength="14"><br>
                </div>
                <br>
                <h3>Endereço</h3><br>
                <div id="form-cliente2">
                    <label for="logradouroClienteEditado">Logradouro:</label>
                    <input type="text" id="logradouroClienteEditado" value=<%= clientes.logradouro %> size="25">
    
                    <label for="cidadeClienteEditado">Cidade:</label>
                    <input type="text" id="cidadeClienteEditado" value=<%= clientes.cidade %> size="25">
    
                    <label for="complementoClienteEditado">Complemento:</label>
                    <input type="text" id="complementoClienteEditado" value=<%= clientes.complemento %> placeholder="Apt / Bloco / Quadra" size="25">
    
                    <label for="numeroClienteEditado">Nº:</label>
                    <input type="text" id="numeroClienteEditado" value=<%= clientes.numero %> style="width: 50px;">
    
                    <label for="estadoClienteEditado">Estado:</label>
                    <input type="text" id="estadoClienteEditado" value=<%= clientes.estado %> style="width: 100px;">
    
                    <label for="cepClienteEditado">CEP:</label><br>
                    <input type="text" id="cepClienteEditado" value=<%= clientes.cep %> style="width: 100px;">
                </div>
                <div>
                    <br>
                    <button id="btn-salvarEdicao">Salvar Edição</button>
                    <button id="btn-cancelarEdicao">Cancelar</button>
                </div>
            </form>
        </div>
    </section>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const btnAtivos = document.querySelector('#pt2 .btn-listas:nth-child(1)');
        const btnInativos = document.querySelector('#pt2 .btn-listas:nth-child(2)');

        btnAtivos.addEventListener('click', function() {
            window.location.href = '/listar-clientes';
        });

        btnInativos.addEventListener('click', function() {
            window.location.href = '/listar-clientes-inativos';
        });
        });


    async function excluirCliente(clienteId) {
        console.log(`Inativar cliente com ID ${clienteId}`);
        const confirmacao = confirm(`Tem certeza que deseja inativar o cliente com ID ${clienteId}?`);
        if (confirmacao) {
            // Enviar uma solicitação ao servidor para excluir o cliente
            await fetch('/excluir-cliente', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({clienteId}),
            })
            .then(response => response.text())
            .then(data => {
                alert(data); // Exibir mensagem de sucesso ou tratamento de erro
                window.location.reload()// Recarregar a página ou atualizar a lista de clientes
            })
            .catch(error => {
                console.error('Erro ao excluir cliente:', error);
            });
        }
    }

    async function ativarCliente(clienteId) {
        console.log(`Ativar cliente com ID ${clienteId}`);
        const confirmacao = confirm(`Tem certeza que deseja ativar o cliente com ID ${clienteId}?`);
        if (confirmacao) {
            // Enviar uma solicitação ao servidor para excluir o cliente
            await fetch('/ativar-cliente', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({clienteId}),
            })
            .then(response => response.text())
            .then(data => {
                alert(data); // Exibir mensagem de sucesso ou tratamento de erro
                window.location.reload()// Recarregar a página ou atualizar a lista de clientes
            })
            .catch(error => {
                console.error('Erro ao ativar cliente:', error);
            });
        }
    }
    </script>
    
</body>
</html>
