<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>DELIVERY</title>      
    <link rel="shortcut icon" type="image/ico" href="/frontend/imagem/logo.ico" />
</head>
<body id="painel">
    <nav>
        <div class="menu">
            <div class="menu-item">
                <img src="/imagem/logoCash.png" alt="logo">
            </div>
            <div class="menu-item">
                <a href="/listar-clientes"><button class="btn"><i class="fas fa-home"></i><br>Dashboard</button></a>            
            </div>
            <div class="menu-item">
                <a href="/listar-pedidos"><button id="pedido" class="btn"><i class="fa-solid fa-cash-register"></i><br>Pedidos</button></a>
            </div>
            <div class="menu-item">
                <a href="/listar-delivery"><button id="pedido" class="btn"><i class="fa-solid fa-truck"></i><br>Delivery</button>  
            </div>
            <div class="menu-item">
                <a href="painel.html"><button class="btn"><i class="fa-solid fa-gears"></i><br>Painel</button></a>
            </div>
        </div> 
    </nav> 
    <div id="painel-principal">
        <nav>
            <button id="btn-help"><i class="fa-solid fa-circle-info"></i></button>
        </nav>
        <div class="btn-pedidos">
            <button id="novo-pedido" class="btn-listas">Novo pedido</button><br><br>
        </div>
        

        <div id="tabela-pedidos">
            <h1>Pedidos Delivery</h1>
            <table>
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Data</th>
                    <th>Atendente</th>
                    <th>Cliente</th>
                    <th>Forma de pagamento</th>
                    <th>Valor Total</th>
                    
                    <!-- <th colspan="2">Opções</th> -->
                </tr>
                </thead>    
                <tbody>
                    <% pedidos.forEach(function(pedido) { %>
                        <tr>                            
                            <td><%= pedido.ID %></td>
                            <td><%= new Intl.DateTimeFormat('pt-BR', {
                                dateStyle: 'short',
                                timeStyle: 'long',
                                timeZone: 'America/Sao_Paulo',
                            }).format(pedido.Data) %></td>
                            <td><%= pedido.Atendente %></td>
                            <td><%= pedido.Cliente %></td>
                            <td><%= pedido.FormaPagamento %></td>
                            <td>R$<%= pedido.valor_total %></td>
                            
                            <!-- <td><button id="btn-editarPedido" class="btn-edit" onclick="editarPedido('<%= pedido.ID %>')"><i class="fa-solid fa-pen"></button></td>
                            <td><button id="btn-excluirPedido" class="btn-delete" onclick="excluirPedido('<%= pedido.ID %>')"><i class="fa-solid fa-trash"></button></td> -->
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="modal-pedido">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Faça um Pedido</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="fecharPopupPedido() ">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
        
                    <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
                        <div class="row">
                            <!-- Coluna 1 -->
                            <div class="col-md-6">
                                <div class="d-flex pb-3">
                                    <!-- Conteúdo da primeira coluna aqui -->
                                    <!-- <div class="cliente-pedido">
                                        <h5>Cliente</h5>
                                        <div id="form-cliente-pedido">
                                            <select class="custom-select" id="escolhaCliente" name="escolhaCliente" required size="5"></select>
                                        </div>
                                    </div> -->
                                    <div class="cliente-pedido">
                                        <h5>Cliente</h5>
                                        <input type="text" id="inputBuscaCliente" class="form-control" placeholder="Busque pelo nome do cliente">
                                        <ul class="list-group" id="resultadoBuscaCliente"></ul>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- Coluna 2 -->
                            <div class="col-md-6">
                                <h5>Itens do Pedido</h5>
                                <div class="d-flex">
                                    <!-- Conteúdo da segunda coluna aqui -->
                                    <nav class="navbar navbar-light bg-light m-0">
                                        <h6>Quantidade:</h6>
                                        <input class="form-control" id="quantidadeItens" type="number" min="1" placeholder="Insira a quantidade" aria-label="Quantidade"/>
                                    </nav>
                                </div>
                                <nav class="navbar navbar-light bg-light m-0">
                                    <h6>Busca:</h6>
                                    <form class="form-inline">
                                        <input class="form-control" id="inputBusca" type="search" oninput="buscarItens()" style="width: 100%;" placeholder="Busque pelo nome" aria-label="Search">
                                    </form>
                                </nav>
                            </div>
                        </div>
                        <br>
                        <ul class="list-group" id="resultadoBusca"></ul>
        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Qtd</th>
                                    <th>Descrição</th>
                                    <th>Valor Unitário</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
        
                            <tbody id="itensSelecionados"></tbody>
                        </table>
                        
                        
                        
                        <div class="row">
                            <!-- Coluna 1 -->
                            <div class="col-md-6">
                                <div class="d-flex pb-3">
                                    <!-- Conteúdo da primeira coluna aqui -->
                                    <div class="frete">
                                        <h5>Frete</h5>
                                        <span id="valor-frete">R$0,00</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- Coluna 2 -->
                            <div class="col-md-6">
                                <div class="d-flex">
                                    <!-- Conteúdo da segunda coluna aqui -->
                                    <div class="forma-pagamento-pedido">
                                        <h5>Forma de Pagamento</h5>
                                        <div id="form-forma-pagamento">
                                            <select class="custom-select" id="escolhaFormaPagamento" name="escolhaFormaPagamento" style="width: auto;" required size="4"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="modal-footer">
                        <button onClick="lancarPedido()" type="button" class="btn btn-primary">Lançar Pedido</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="fecharPopupPedido()">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
    <script src="scripts/scriptDelivery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    
</body>
</html>
